@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#index, body {
    background-color: #ffc7c7;
}

#index, button {
    border-radius: 504234px;
}

#Editar, body {
    background: #ffc7c7;
}

#Agregar, body {
    background: #ffc7c7;
}

